{"<<<CAMERA_NAME>>>": {"ip": "<<<CAMERAIP>>>", "sensitivity": "low", "humanDetection": false, "enabled": true, "notification": true}, "<<<CAMERA_NAME>>>": {"ip": "<<<CAMERAIP>>>", "sensitivity": "low", "humanDetection": false, "enabled": true, "notification": true}}