TOKEN = "<<<TOKEN>>>"

#Secondary token are used to bypass group chat api limit rate
TOKEN_ALL = [
    TOKEN,
    "<<<TOKEN_SECONDARY>>>",
    "<<<TOKEN_SECONDARY>>>",
    ]

CHATID = <<<CHAT_ID>>>

PROJECT_PATH = "<<<PROJECT PATH>>>"

SAY_COMMAND = "say"# /say
PLAY_COMMAND = "play"# /play

STATE_CHANGE_DELAY = 3

SNAPSHOT_TIMEOUT = 6
SETTINGS_TIMEOUT = 18
MEDIA_RETENTION = 7 #Delete photo/video after x days 0 for instant deletion
VIDEO_COMPRESSION = False

SOUND_SAVE_PATH = PROJECT_PATH + "/sound"
SOUND_SAVE_PATH = (SOUND_SAVE_PATH + "/").replace("//", "/") #Make sure that a leading / is always present no matter what

AUDIO_TEMP_FILE = PROJECT_PATH + "/audio_voice_file.mp4"
CAM_CONFIG_PATH = PROJECT_PATH + "/cam.json"

MEDIA_SAVE_PATH = PROJECT_PATH + "/recording"
MEDIA_SAVE_PATH = (MEDIA_SAVE_PATH + "/").replace("//", "/") #Make sure that a leading / is always present no matter what


#Use the right one or create one for your language

#from config.locale_IT import *
from config.locale_EN import *