TOKEN = "<<<TOKEN>>>"

#Secondary token are used to bypass group chat api limit rate
TOKEN_ALL = [
    TOKEN,
    "<<<TOKEN_SECONDARY>>>",
    "<<<TOKEN_SECONDARY>>>",
    ]

CHATID = <<<CHAT_ID>>>

SAY_COMMAND = "say"# /say
PLAY_COMMAND = "play"# /play

SNAPSHOT_TIMEOUT = 6
SETTINGS_TIMEOUT = 18
MEDIA_RETENTION = 7 #Delete photo/video after x days 0 for instant deletion
VIDEO_COMPRESSION = False

SOUND_SAVE_PATH = "<<<PROJECT PATH>>>/sound"

SOUND_SAVE_PATH = (SOUND_SAVE_PATH + "/").replace("//", "/") #Make sure that a leading / is always present no matter what

AUDIO_TEMP_FILE = "audio_voice_file.mp4"

MEDIA_SAVE_PATH = "<<<PROJECT PATH>>>/recording"

MEDIA_SAVE_PATH = (MEDIA_SAVE_PATH + "/").replace("//", "/") #Make sure that a leading / is always present no matter what



#[IP_ADDRESS, NICKNAME, SENSITIVITY]

CAMERAS = [
    ["192.168.1.10", "camera_kitchen", "low"],
    ["192.168.1.11", "camera_hall", "low"],
]


#Add padding to match the camera with the longest name
maxlen = 0
for cam in CAMERAS:
    if len(cam[1]) > maxlen:
        maxlen = len(cam[1])

for cam in CAMERAS:
    if len(cam[1]) < maxlen:
        cam[1] += (maxlen - len(cam[1])) * " "



#Use the right one or create one for your language

#from locale_IT import *
from locale_EN import *